@import './assets/styles/fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.banner {
  font-size: 16px;
}

.banner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #363636;
  background: url(./assets/images/background-full/4@3x.webp) center/cover no-repeat;
  font-family: 'SF Pro', sans-serif;

  &__content {
    height: 100vh;
    width: 100%;
    padding: 40px 20px;

    align-items: center;
  }

  &__top {
    justify-content: space-between;
  }

}

.row {
  display: flex;

  &_gap6 {
    gap: 6px;
    align-items: center;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.link {
  font-family: 'Roboto', sans-serif;
  font-size: .6875rem;
  color: #BDC0D0;
}

.icon {
  width: 26px;
  height: 22px;
}

.restore {
  font-size: .8125rem;
  letter-spacing: -0.0135rem;
  line-height: 2.5625rem;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.text {
  &_small {
    margin: 16px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: .6875rem;
    line-height: .8125rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
  }
}

.btn {
  width: 280px;
  height: 58px;
  background: linear-gradient(270deg, #1987FF 0%, #19CCFF 100%);
  border-radius: 30px;
  border: none;
  font-family: 'SF Pro', sans-serif;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
}

.header {
  width: 100%;
  height: 24px;
  align-items: center;
}

.main {
  margin-top: 9.8125rem;
  align-items: center;

  &__title {
    font-size: 2.25rem;
    text-align: center;
    font-weight: 700;
    line-height: 2.625rem;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  }

  &__description-container {
    width: 208.5px;
    margin: 1.8125rem 0 2.7813rem 0;

    .description__text {
      font-weight: 200;
      font-size: 1.0625rem;
      line-height: 1.875rem;
      letter-spacing: -0.0201rem;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.684495);
    }
  }

  .cards {
    width: 297px;
    margin-bottom: 24px;

    justify-content: space-between;
    align-items: center;


    .card {
      width: 137px;
      height: 162px;

      padding: 25px 12.05px 13.68px;

      align-items: center;
      position: relative;

      text-align: center;

      opacity: .62;

      transition: transform .2s;

      &__title {
        font-size: 1.0625rem;
        line-height: 1.25rem;
      }

      &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
      }

      &__discount {
        width: 30px;
        height: 30px;

        align-items: center;
        justify-content: center;

        position: absolute;
        top: 1px;
        right: 2.71px;

        border-radius: 50%;
        background-color: rgba(219, 0, 0, 1);
        font-size: 12px;
        line-height: 14px;
      }

      &__discount_active {
        width: 38px;
        height: 38px;

        top: -2px;
        right: -.29px;
      }

      &_active {
        opacity: 1;
        transform: scale(1.109);
      }

      &__subtitle-container {
        height: 21.98px;
        width: 137px;

        margin-bottom: 10.98px;

        justify-content: center;
        align-items: center;

        background-color: rgba(73, 87, 149, 1);
      }

      &__price {
        &-container {
          margin-bottom: 13.37px;
        }
      }

      &__price-description {
        font-weight: 200;
        font-size: 13px;
      }

      &__month-pay {
        font-weight: 200;
        font-size: 13.2px;
      }
    }
  }
}

.footer {
  width: 100%;

  &__links {
    justify-content: space-between;
  }
}

.ru,
.nl,
.fr {
  .main__title {
    font-size: 28px;
  }

  .main__description-container {
    gap: 5px;
  }

  .description__text {
    font-size: 13px;
    line-height: 16px;
  }

  .card__subtitle-container {
    font-size: 12px;
  }
}

.ru,
.ja {
  .main__description-container {
    width: 284.5px;
  }
}

.nl {
  .main__description-container {
    gap: 5px;
  }
}

@media screen and (min-height: 896px) {

  .nl {
    .main {
      margin-top: 248px;
    }

    .description__text {
      font-size: 16px;
    }

    .main__description-container {
      width: 255.5px;
    }
  }


}

@media screen and (min-height: 887px) {

  .main {
    margin-top: 216px;
  }
}

@media screen and (min-height: 844px) {

  .main {
    margin-top: 216px;
  }

  .banner__content {
    padding: 27px 20px;
  }

  .es {
    .main {
      margin-top: 183px;
    }
  }

  .nl {
    .description__text {
      font-size: 16px;
    }

    .main__description-container {
      width: 255.5px;
    }
  }
}

@media screen and (max-height: 790px) {

  .main {
    margin-top: 140px;
  }
}

@media screen and (max-height: 736px) {

  .main {
    margin-top: 107px;
  }

  .fr {

    .main__description-container {
      margin: 13px 0 28px 0;
    }

  }

  .es {

    .main__description-container {
      width: 273.5px;
    }

  }
}

@media screen and (max-height: 667px) {

  .main {
    margin-top: 68px;
  }

  .main__description-container {
    width: 208.5px;
    margin: 13px 0 29px 0;
  }

  .es {

    .main__title {
      font-size: 24px;
    }

    .main__description-container {
      width: 273.5px;
    }

  }
}

@media screen and (max-height: 568px) {

  .banner__content {
    padding: 12px 13px;
    font-size: 14px;
  }

  .main {

    .cards {
      margin-bottom: 19px;
      width: 288px;
    }
  }

  .ru .main__title {
    font-size: 20px;
  }

  .main__description-container .description__text {
    font-size: 13px;
  }

  .main__description-container {
    width: 208.5px;
    margin: 9px 0 17px 0;
  }

  .text_small {
    margin: 7px 0;
  }

  .ja {
    .main__description-container {
      width: 189.5px;
    }
  }

  .es,
  .fr {

    .main__title {
      font-size: 20px;
      line-height: 2.125rem;
    }

    .main__description-container {
      margin: 0px 0 13px 0;
    }
  }

  .btn {
    height: 48px;
  }
}